.cta {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 45px;
	text-align: center;

	a  {
		position: relative;
		color: $color-white;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		text-decoration: none;

		& + a {
			margin-left: 2em;
		}
	}

	@include media-breakpoint-up(md) {
		text-align: right;
	}
	@media (max-width: 667px) and (orientation: landscape) {
		padding: 10px;
		text-align: left;
	}
}
//more comments