.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.brand {
	max-width: 100%;


	object {
		max-width: 100%;
	}
}

.tagline {
	color: white;
	font-family: "Montserrat", sans-serif;

	p { 
		margin: 0;
		padding: 0 20px;
		text-align: right;
	}

	.definitions {
		max-width: 375px;
		min-height: 40px;
		margin-left: auto;

		span {
			font-style: italic;
		}

		@include media-breakpoint-up(md) {
			
		}
		
	}
		@media (max-width: 667px) and (orientation: landscape) {
			max-width: 50%;
			margin-left: auto;
			font-size: 13px!important;
		}
}

[data-loop] {
	position: relative;

	> p {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity .4s ease-in;
//dit is geen natuurlijk manier van zitten en posren, als posreren al uberhaupt natuurlijk zou moet
		&.focus {
			opacity: 1;

		}
	}

}