.btn {
//need some change, due to bootstrap inheritance
}

.btn--link {
	min-width: 120px;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
}

.btn--black {
	color: white;
	background: black;
	border: 1px solid $color-black;
	border-radius: 2px;
	transition: .2s ease-in;

	&:hover {
		color: white;
		border: 1px solid $color-gray;
		transform: scale(.95);
	}
}