.hotcorner {

}
.hotcorner--triangle {
	position: absolute;
	top: -60px;
	right: -60px;
	@include size(120px);
	background-color: $color-gray;
	transform: rotate(45deg);
	box-shadow: inset 0 0 .5em $color-black;

	a {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: rotate(-45deg) translate(-50%, -50%);
		@include size(28px);
		transition: .2s ease-in;

		&:hover {
			transform: rotate(-45deg) translate(-50%, -50%) scale(.9);
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}