.u-link--btn {
	display: inline-block;
	height: $btn-height;
	padding: 0 1em;
	text-decoration: none;
	line-height: $btn-height;
}


.a-underline {

			&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 1px;
			background-color: $color-white;
			transition: width .3s ease-in-out;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
}