body {
}

h1 {

}

h2 {

}

p {

}

a {

	&:hover, &:active, &:focus {
		
	}

}

.img--cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	z-index: -1;
}